<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
        <key> title </key>
        <string>YYModel</string>
        <key> html </key>
        <string>Html</string>
        <key> id </key>
        <string>myIDShuang</string>
	</dict>
    <dict>
        <key> title </key>
        <string>YYModel</string>
        <key> html </key>
        <string>Html</string>
        <key> id </key>
        <string>myIDShuang</string>
    </dict>
    <dict>
        <key> title </key>
        <string>YYModel</string>
        <key> html </key>
        <string>Html</string>
        <key> id </key>
        <string>myIDShuang</string>
    </dict>
</array>
</plist>
